::ng-deep .Red {
    background-color: red;
    color: black;
    width: 20%;
    margin: 10px;
}
::ng-deep .Green {
    background-color: green;
    color: black;
    margin: 10px;
    width: 20%;
}
::ng-deep .Yellow {
    background-color: yellow;
    color: black;
    width: 20%;
    margin: 10px;
}
